<div class="container mx-auto px-40 py-8">
  <h1 class="text-4xl font-bold text-center text-blue-900 mb-8">
    Health Challenge Tracker
  </h1>

  <mat-card class="mb-8">
    <mat-card-content>
      <form (ngSubmit)="addWorkout()" class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <mat-form-field class="w-full">
            <input
              matInput
              [(ngModel)]="newUser"
              name="userName"
              placeholder="User Name"
              required
            />
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <mat-form-field class="w-full">
            <mat-select
              [(ngModel)]="newWorkoutType"
              name="workoutType"
              placeholder="Workout Type"
              required
            >
              <mat-option *ngFor="let type of workoutTypes" [value]="type">{{
                type
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <mat-form-field class="w-full">
            <input
              matInput
              type="number"
              [(ngModel)]="newWorkoutMinutes"
              name="workoutMinutes"
              placeholder="Workout Minutes"
              required
            />
          </mat-form-field>
        </div>
        <div class="w-full px-3">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="w-full"
          >
            Add Workout
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <mat-form-field class="w-full">
            <input
              matInput
              [(ngModel)]="searchTerm"
              (ngModelChange)="applyFilter()"
              placeholder="Search"
            />
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <mat-form-field class="w-full">
            <mat-select
              [(ngModel)]="workoutTypeFilter"
              (ngModelChange)="applyFilter()"
              placeholder="Filter by Workout Type"
            >
              <mat-option value="All">All</mat-option>
              <mat-option *ngFor="let type of workoutTypes" [value]="type">{{
                type
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="w-full">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let user">{{ user.name }}</td>
        </ng-container>

        <ng-container matColumnDef="workouts">
          <th mat-header-cell *matHeaderCellDef>Workouts</th>
          <td mat-cell *matCellDef="let user">
            {{ getWorkoutsString(user.workouts) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="numberOfWorkouts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Number of Workouts
          </th>
          <td mat-cell *matCellDef="let user">{{ user.workouts.length }}</td>
        </ng-container>

        <ng-container matColumnDef="totalMinutes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Total Workout Minutes
          </th>
          <td mat-cell *matCellDef="let user">
            {{ getTotalMinutes(user.workouts) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>

      <app-workout-chart
        [users]="dataSource.data"
        class="mt-8"
      ></app-workout-chart>
    </mat-card-content>
  </mat-card>
</div>
